{% extends "base_layout.html" %}
{% block banner %}
<h1>Rayhaan.net &#187; Blog</h1>
{% endblock %}

{% block pagecontent %}
<div class="container">
    <h2 class="underline-green">Recent blogposts.</h2>
    {% for post in blog_posts %}
    <div class="blog-post">
        <div class="row">
            <div class="col-md-8"><h3>{{post.title|safe}}</h3></div>
            <div class="col-md-4"><i class="date">{{post.date_published}}</i></div>
        </div>
        <div class="post-wrap">
            {{ markdownify(post.content) }}
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
