{% extends "base_layout.html" %}

{% block banner %}
<h1>rayhaan.net &#187; Blog</h1>
{% endblock %}
{% block pagecontent %}

<div class="container" style="padding-top: 25px;">
    <div class="blog-post">
        <div class="row">
            <div class="col-md-8"><h2>{{post.title}}</h2></div>
            <div class="col-md-4"><i class="date">{{post.date_published}}</i></div>
        </div>
        <div class="post-wrap">
        {{post.content}}
        </div>
        </div>
    </div>
</div>

{% endblock %}
