{% set navbar = [
    ('/', 'home', 'Home'),
    ('/blog', 'blog', 'Blog'),
    ('/contact', 'contact', 'Contact'),
    ('https://github.com/rayhaanj', 'github', 'GitHub')
] -%}

<nav class="blog-nav">
    {% for href, id, caption in navbar %}
        <a class="blog-nav-item{% if id == active %} active{% endif %}" href="{{href}}">{{caption}}</a>
    {% endfor %}
</nav>

<nav class="blog-nav pull-right">
    {% if session.get('username') %}
        <a class="blog-nav-item" href="/logout">Logged in as: {{ session.get('username') }}</a>
    {% else %}
        <a class="blog-nav-item" href="/login">Login</a>
    {% endif -%}
</nav>
